<a href="https://colab.research.google.com/github/EE-KONG/nostradamus/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *OSS 개발*
colab 배우기



```python
 def myf(a,b):
    print("함수 호출")
    return a+b
```

#**MARKDOWN**

⚾

$ CO2_k^{x,y}(A,B)=\alpha*σ$

In [ ]:
age=10

In [ ]:
print(age)

10

In [ ]:
di='2023-01-19' #@param{type:'date'}